@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px #FFFF00, 0 0 20px #FFFF00;
  }
}
